
body {
  margin: 0;
  direction: rtl;
  background-color: rgb(243, 246, 255)  !important;
  font-family:  "IRANYekan",

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
          font-family: "IRANYekan";
          font-style:'normal';
          src: url('../src/assets//fonts/IRANYekan/IRANYekan.woff') format('woff');
        }

